.about-us-container{
    background-image: url("/public/media-source/illustrations/illustration09.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:50% ;

} 