
<div class="flex flex-col items-center justify-center  my-20">
    <h1 class="text-6xl font-bold text-gray-600 my-8">Testimonials</h1>
    <div id="craouselContainer" class="swiper-container">
        <div class="swiper-wrapper " id="slideHolder">
            <!-- Slides -->
    
        </div>
        <div class="swiper-pagination"></div>
        
    </div>
</div>