
<div class="flex bg-green-100 flex-col items-center justify-center  my-20">
    <h1 class="text-6xl font-bold text-gray-600 my-8">Testimonials</h1>
    <div id="craouselContainer" class="swiper-container">
        <div class="swiper-wrapper " id="slideHolder">
            <!-- Slides -->
    
        </div>
        <div class="swiper-pagination"></div>
        
    </div>
    <button class="bg-green-500 hover:bg-green-600 rounded-md text-white py-2 px-4 mb-4">More</button>
</div>