<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<style>
    body{
        box-sizing: border-box;
    }
.error-page{
    background-position:right;
    background-repeat: no-repeat;
    background-size: contain;
}
</style>
<body>
    <div class="error-page flex relative">
    <img src="/public/media-source/other-illustration/undraw_back_home_nl-5-c.svg" alt="">
    <div class="h-full w-full absoute bottom-0">
    <button class="bg-lime-600 text-white py-2 px-4 rounded-full">Back to home</button>
    </div>
    </div>
</body>
</html>