<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<style>
.error-page{
    background-image: url("/public/media-source/other-illustration/error.svg");
    background-position:right;
    background-repeat: no-repeat;
    background-size: contain;
}
</style>
<body>
    <div class="error-page flex ">
    <div class="h-full w-full">
    <button clas>Back to home</button>
    </div>
    </div>


</body>
</html>