.form-container{
    display: inline-block;

}
.form-container input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .form-container textarea
{
    padding: 12px 20px;
}

