<%- include('../main-comp/header'); -%>
    <!-- Navigation -->
    <%- include('../navigations/nav-bar'); -%>

        <!-- Contact container -->
        <div class="con-cont min-h-screen pt-10 bg-green-50">
            <!-- Contact secondary container -->
            <div class="con-sec-cont m-20 px-40 py-10 bg-green-100 rounded-md  ">
                <div class="grid grid-rows-3 grid-flow-col  gap-x-4 gap-y-8" >
                    <div class="row-span-3 basis-1/2 bg-white p-10 rounded-lg">
                        <div class="space-y-2 mb-4">
                            <p class="text-green-600">Get in Touch</p>
                            <h1 class="text-3xl font-bold  text-gray-700">Contact us</h1>
                            <p class="text-gray-500">Let's Chat, Say Hey 👋 to us</p>
                        </div>
                        <hr class="text-xlw-64 h-1 my-4 bg-gray-200 border-0 rounded dark:bg-gray-700">
                        <div class="">
                            <form class="flex flex-col gap-4 mx-10 mt-10" action="">
                                <input class="border-b-2 border-green-200 outline-none focus:border-green-300  hover:border-green-400 p-2 px-4" type="text" placeholder="First Name">
                                <input class="border-b-2 border-green-200 outline-none focus:border-green-300 hover:border-green-400 p-2 px-4" type="text" placeholder="Surname">
                                <input class="border-b-2 border-green-200 outline-none focus:border-green-300 hover:border-green-400 p-2 px-4" type="email" placeholder="E-mail">
                                <input class="border-b-2 border-green-200 outline-none focus:border-green-300 hover:border-green-400 p-2 px-4" type="text" placeholder="Phone Number">
                                <textarea class="border-b-2 border-green-200 outline-none focus:border-green-300 hover:border-green-400 p-2 px-4" name="message" id="" cols="30" rows="4" placeholder="Message"></textarea>
                                <button class="bg-green-600 text-white py-2 rounded-lg" type="button">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="row-span-2 bg-white bg-contain rounded-lg bg-[url('../../public/media-source/img/hero-section-img.jpg')]"></div>
                    <div class="col-span-1 bg-white p-10 space-y-5 flex flex-col  justify-center text-gray-500 rounded-lg">
                        <div class="flex flex-row  ">
                            <div class="font-bold px-4 py-3 bg-green-100 rounded-full mr-4"><i class="fa-regular fa-envelope "></i></div>
                            <div>
                                <p class="font-bold">Email</p>
                                <p class="text-gray-500">dummy@gmail.com</p>
                            </div>
                        </div>
                        <div class="flex flex-row">
                            <div class="px-4 py-3 bg-green-100 rounded-full mr-4"><i class="fa-solid fa-phone"></i></div>

                            <div>
                                <p class="font-bold">Phone Number</p>
                                <p class="text-gray-500"><span>Dr. Nishu kumar: </span>+919876543210</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include('../main-comp/footer'); -%>