    <div class="form-container backdrop-blur-lg  flex flex-col items-center shadow-xl rounded-lg px-10 py-10 bg-white/30 mb-5 ">
        <h1 class="mb-5 font-bold text-4xl text-slate-600">Please fill the form</h1>
        <form action="" class="flex flex-col items-center  ">
            <input class="rounded-md border-2 border-indigo-300 border-solid mb-2" type="text" id="fname" name="firstname"
                placeholder="First Name">
            <input class="rounded-md border-2 border-indigo-300 border-solid mb-2" type="text" id="lname" name="lastname"
                placeholder="Last Name">
            <input class="rounded-md border-2 border-indigo-300 border-solid mb-2" type="text" id="city" name="city"
                placeholder="City Name">
            <input class="rounded-md border-2 border-indigo-300 border-solid mb-2" type="text" id="pnumber"
                name="phonenumber" placeholder="Phone Number">
            <textarea class="rounded-md border-2 border-indigo-300 border-solid mb-2" name="message" id="message" rows="5" cols="40" aria-rowspan=""
                rows="10" placeholder="Message"></textarea>
            <button class="bg-white px-5 py-1 rounded-lg">submit</button>
        </form>
    </div>
