<%- include('../../main-comp/header'); -%>
    <!-- Navigation bar -->
    <%- include('../../navigations/nav-bar'); -%>
        <div class="country-container bg-slate-50">

            <div class="h-44 country-name-container">
                <div class="bg-slate-800/30 backdrop-blur-lg h-full w-full flex justify-center items-center">
                    <h1 class="text-white font-serif text-6xl ">STUDY MBBS IN GEROGIA</h1>
                </div>
            </div>
            <!-- country About container -->
            <div class="country-about-container ml-10 mt-8 mr-10">
                <h1 class="font-serif text-4xl font-bold  mb-4">About</h1>
                <p class="text-justify text-lg">With a 100% literacy rate and 26 NMC-recognized universities providing
                    high-quality medical education to Indian students, Georgia is undoubtedly one of the best
                    destinations to study MBBS abroad for Indian medical aspirants. Over 5,000 students are studying
                    MBBS in Georgia at the top Georgia universities where quality medical education meets affordability.
                    The prestigious and leading universities in Georgia exhibit quality education, world-class research
                    infrastructure, and cultural diversity at their best to international students. MBBS fees in Georgia
                    start at $5,000 annually and suit the pockets of many Indian students aspiring to be excellent
                    doctors. Enrolled students avail of the opportunity to do experiments and clinical clerkship from
                    the very first semester onwards of MBBS in Georgia to improve their learning skills. 
                </p>
            </div>
            <!-- MBBS in Georgia 2023: Quick Highlights -->

            <div class="college-about-container ml-10  mr-10">
                <h1>MBBS IN GEROGIA 2023: QUICK HIGLIGHTS</h1>
                <table class="" id="collage-table" style="width: 100%;">
                    <tr>
                        <th>Duration of Course:</th>
                        <td>6 year (includes 1 year of internship)</td>
                    </tr>
                    <tr>
                        <th>Duration of Course:</th>
                        <td>6 year (includes 1 year of internship)</td>
                    </tr>
                    <tr>
                        <td>University of Nis Faculty of Medicine</td>
                        <td>English</td>
                    </tr>
                    <tr>
                        <td>University of Novi Sad Faculty of Medicine</td>
                        <td>English</td>
                    </tr>
                </table>
            </div>

            <!--College about container  -->
            <div class="college-about-container ml-10  mr-10">
                <ul class="list-image-[url('/public/media-source/svg-pointers/arrow.svg')] list-inside p-4">
                    <li class="py-2">The Table below contains the names of the biggest Universities in the nation of
                        Serbia . </li>
                    <li class="py-2">You have to be cautious as to which university you choose because most of these
                        universities do not have English as the medium of instruction. Many times, to earn fat
                        commissions, foreign education agents promote the non-English Universities as English ones.</li>
                    <li class="py-2">You have to be cautious as to which university you choose because most of these
                        universities do not have English as the medium of instruction. Many times, to earn fat
                        commissions, foreign education agents promote the non-English Universities as English ones.</li>
                </ul>
                <table class="" id="collage-table" style="width: 100%;">
                    <tr>
                        <th>University</th>
                        <th>Medium of instructions (WDOMS)</th>
                    </tr>
                    <tr>
                        <td>University of Kragujevac Faculty Of Medical Sciences</td>
                        <td>English</td>
                    </tr>
                    <tr>
                        <td>University of Nis Faculty of Medicine</td>
                        <td>English</td>
                    </tr>
                    <tr>
                        <td>University of Novi Sad Faculty of Medicine</td>
                        <td>English</td>
                    </tr>
                </table>
            </div>
            <!-- Country Accomandation containers -->
            <div class="country-accomandition-container ml-10 mt-10  mr-10">
                <h1 class="font-serif antialiased font-bold text-4xl mb-4">Cost of living</h1>
                <p class="text-justify text-lg">The cost of living in Serbia is relatively low, making it an affordable
                    option for international students. In general, you can expect to spend around 500 EUR per month on
                    living expenses as an international student at the University of Kragujevac. Your lifestyle and
                    spending patterns may affect this amount. Here is a breakdown of some of the expenses you can
                    expect to incur as an international student at the University of Kragujevac:
                </p>
                <table class="Accomandation-table mt-10 mb-10" id="Accomandation-table">
                    <tr>
                        <th>Utility</th>
                        <th>Average cost per person</th>
                    </tr>
                    <tr>
                        <td>Accommodation:</td>
                        <td>€200-300 per month (shared room)</td>
                    </tr>
                    <tr>
                        <td>Rent</td>
                        <td>€200 EUR/month (studio apartment)
                        </td>
                    </tr>
                    <tr>
                        <td>Food:</td>
                        <td>€150-200 per month</td>
                    </tr>
                    <tr>
                        <td>Transportation:</td>
                        <td>€50-100 per month</td>
                    </tr>
                    <tr>
                        <td>Internet bill:</td>
                        <td>Approx 10 EUR/month</td>
                    </tr>
                    <tr>
                        <td>Entertainment:</td>
                        <td>€50-100 per month</td>
                    </tr>
                </table>
            </div>

            <!-- country card container -->
            <div class="college-card-container ml-10 ">
                <h1 class="font-serif antialiased font-bold text-4xl mb-10">Colleges</h1>
                <div class="grid grid-cols-2">



                </div>
            </div>
        </div>
        <%- include('../../navigations/bottom-bar'); -%>
            <%- include('../../main-comp/footer'); -%>