<div class=" flex  flex-col items-center h-50 w-50 px-10" id="aboutUS">
        <h1 class="text-md font-bold font-serif md:text-4xl lg:text-4xl text-serif text-slate-600 my-10">ABOUT MEDPLASIA MEDICOS PVT LTD</h1>
    <div class="about-us-container">
        <div class="backdrop-blur-lg bg-slate-200/30 about-us-content">
            <div class="p-8">
                <h1 class="text-2xl font-bold text-serif text-slate-600 my-2"> What makes us different?</h1>
                <p id="aboutuscontainer" class="text-justify text-lg font-serif">MEDPLASIA provides excellent opportunities
                    for medical
                    students to pursue their MBBS studies abroad. Many young individuals now aspire to study MBBS in foreign
                    countries like Serbia, Russia, Kazakstan ,
                    Belarus, Krygzstan, and various countries. Contrary to common beliefs, studying abroad doesn't have to
                    be costly. MEDPLASIA offers budget-friendly options for undergraduate and postgraduate medical programs
                    in English-medium<span id="dots">...</span><span id="more" style="display: none;"> universities across world. <br>
                    We understand that each student has their own dream and budget, and we are here to help them achieve it
                    without any additional donation or capitation fees. Our consultancy services ensure MBBS admissions in
                    countries with exceptional education facilities and low living costs. <br> Studying abroad through
                    MEDPLASIA can save up to 50% of the money compared to pursuing MBBS in India. The
                    expenses are significantly lower than private Indian colleges, and the best part is that all our
                    affiliated universities are recognized by MCI, WHO, and the respective government authorities. These
                    universities often follow the USA-based curriculum, which is considered one of the best in the
                    world.<br>
                    We take pride in assisting students in shortlisting the best universities and providing a seamless
                    admission process. Whether you wish to study in various countries, we ensure top-notch education quality
                    that opens doors to work in the USA, UK, or India. No donation or capitation fees are required, and we
                    even provide special coaching to help students clear the MCI Screening test. <br>
                    Living costs are relatively affordable in the countries we recommend for MBBS studies. MEDPLASIA offers
                    comprehensive services for students interested in pursuing MBBS abroad. Our commitment doesn't end with
                    admission and visa processing; we also take care of the necessary arrangements for students once they
                    reach their study destination. From the beginning until the completion of the course, we stand by our
                    students. <br>
    
                    At MEDPLASIA, we not only guide students towards their dream of becoming doctors but also provide
                    continuous support to both students and parents/guardians with up-to-date information throughout the
                    course. We even offer advice for education loans to help ease the financial burden. <br>
                    Our expertise makes the admission process direct and straightforward, without the need for any entrance
                    exams for medical studies in all countries. Additionally, we assist students in every step, from
                    admission to visa processing until their departure.<br>
    
                    At MEDPLASIA, we are delighted to offer students various opportunities for knowledge development, skill
                    enhancement, community engagement, and public service opportunities through student organizations. So,
                    choose MEDPLASIA as your trusted consultant for MBBS admissions abroad and let us help you shape a
                    bright future as a successful medical professional.</span></p>
            </div>
            <div class="flex flex-col  justify-center items-center pb-4 ">
                <h1 id="showMoreLess" class="font-bold ">Show more</h1>
                <button onclick="moreLessfunctionKey()" id="aboutUsTrigger" class="bg-white mt-4 text-slate-800 rounded-full py-2 px-4 animate-bounce" href=""><i
                        class="fa-solid fa-arrow-down"></i></button>
    
            </div>
        </div>
        <div>
        </div>
    </div>
</div>