<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="" href="/public/styles/main.css" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/879ed49c00.js" crossorigin="anonymous"></script>
    <script  src="/public/responsive/description/about.js"></script>
    <script  src="/public/responsive/navigation/styles.js"></script>
    <title>Document</title>
</head>
 <body class="container">