<div class="flex flex-col md:flex-row lg:flex-row  md:px-20 lg:px-20 px-10 mt-24 h-[24vh] md:h-[45vh] md:h-[45vh] " >
    <div class="basis-1/2 flex justify-center  flex-col gap-y-4 ">
        <p class="font-extrabold text-md md:text-4xl lg:text-4xl text-green-800">
            <span>
                Your Gateway to Global Medical
            </span> <br>
            <span>
                Excellence
                <span class="text-orange-300" id="hero-heading-writing-effect"></span>
                <!-- at youre service -->
                <!-- in your hand -->
                <!-- Worldwide -->
                <!-- for every patient  -->
                <!-- for your Health journey -->
            </span>
        </p>
        <div class="flex flex-col md:gap-8 lg:gap-8 gap-2 md:flex-row lg:flex-row md:mr-10 lg:mr-10 mr-0">
            <form action="" class=" w-full basis-1/2">
                <input
                    class="md:py-3 w-full lg:py-3 py-2 md:px-4 lg:px-4 px-2  border-2 border-gray-300 rounded-md focus:shadow-md focus:shadow-green-50 focus:border-1 outline-0 focus:border-green-200  "
                    type="text" name="" placeholder="" id="hero-number-writing-effect">
            </form>
            <button
                class="bg-green-700 w-full basis-1/2 md:py-3 lg:py-3 py-2  md:px-8 lg:px-8 lg:px-2 rounded-md text-white font-bold"
                type="button">Get a call from us</button>
        </div>

        <p class="text-gray-600 text-sm md:text-md lg:text-md font-medium ">
            "Beyond Borders, Your Medical Future Unfolds: Let's Shape Your Journey Together!"
        </p>
    </div>
    <div class="basis-1/2 flex relative justify-center clear min-h-fit hidden md:flex lg:flex">
        <div class="bg-green-100 absolute top-10 rounded-md md:h-[250px] md:w-[100%] lg:h-[250px] lg:w-[100%] h-[100px] w-[100%]"></div>
        <img class="h-96 w-96 absolute  left-20   rounded-md" src="/public/media-source/img/hero-section-img.jpg"
            alt="">
    </div>
</div>