<div class="bg-green-50 py-10 country-nav-container flex flex-wrap md:flex-col lg:flex-col justify-center items-center  mt-10" id="countries">
        <h1 class="country-nav-heading justify-center mb-5 text-xl md:text-4xl lg:text-4xl underline decoration-green-200 decoration-4  px-10 rounded-bl-full rounded-tr-full font-bold text-slate-700">Where would you
                like to study?</h1>
        <div >
                <ul class="flex flex-wrap  justify-center mt-6 ">
                        <li class="h-20 w-20 mx-10 shadow-lg rounded-full mb-10 border-16 bg-white shadow-lg p-1  flex flex-col items-center">
                                <a href="/serbia">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/serbia.png" alt="" />
                                </a>
                                <h1 class="mt-2 md:mt-4 lg:mt-4  font-bold md:text-2xl lg:text-2xl text-lg text-slate-600">Serbia</h1>
                        </li>
                        <li class="h-20 w-20 mx-10 rounded-full mb-10 border-16 bg-white shadow-lg p-1  flex flex-col items-center">
                                <a href="/georgia">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/georgia.png" alt="" />
                                </a>

                                <span class="mt-2 md:mt-4 lg:mt-4  font-bold md:text-2xl lg:text-2xl text-lg text-slate-600">Georgia</span>
                        </li>
                        <li class="h-20 w-20 mx-10 rounded-full mb-10 border-16 bg-white shadow-lg p-1  flex flex-col items-center">
                                <a href="">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/kazakhstan.png" alt="" />
                                </a>

                                <span class="mt-2 md:mt-4 lg:mt-4  font-bold md:text-2xl lg:text-2xl text-lg text-slate-600">kazakhstan</span>
                        </li>
                        <li class="h-20 w-20 mx-10 rounded-full mb-10 border-16 p-1 bg-white shadow-lg  flex flex-col items-center">
                                <a href="kazakhstan">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/russia.png" alt="" />
                                </a>
                                <span class="mt-2 md:mt-4 lg:mt-4  font-bold md:text-2xl lg:text-2xl text-lgl text-slate-600">Russia</span>
                        </li>
                        <li class="h-20 w-20 mx-10 rounded-full mb-10 border-16 border-white p-1 bg-white shadow-lg  flex flex-col items-center">
                                <a href="russia">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/belarus.png" alt="" />
                                </a>

                                <span class="mt-2 md:mt-4 lg:mt-4  font-bold md:text-2xl lg:text-2xl text-lg text-slate-600">Belarus</span>
                        </li>

                        </li>
                        <li class="h-20 w-20 mx-10 rounded-full mb-10 border-16 border-white p-1 bg-white shadow-lg  flex flex-col items-center">
                                <a href="belarus">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/uzbekistan.png" alt="" />
                                </a>

                                <span class="mt-2 md:mt-4 lg:mt-4  font-bold md:text-2xl lg:text-2xl text-lg text-slate-600">uzbekistan</span>
                        </li>

                        </li>
                </ul>
        </div>
</div>