<div class="country-nav-container flex flex-wrap md:flex-col lg:flex-col justify-center items-center  mt-10" id="countries">
        <h1 class="country-nav-heading mr-10 justify-center mb-5 text-lg  md:text-4xl lg:text-4xl font-bold font-serif text-slate-700">Where would you
                like to study?</h1>
        <div >
                <ul class="flex flex-wrap  justify-center mt-10 ">
                        <li class="h-24 w-24 mx-10 rounded-full mb-10 border-16 border-white p-1 shadow-xl shadow-gray-400  flex flex-col items-center">
                                <a href="/serbia">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/serbia.png" alt="" />
                                </a>
                                <h1 class="mt-4  font-serif font-bold text-2xl text-slate-600">Serbia</h1>
                        </li>
                        <li class="h-24 w-24 mx-10 rounded-full mb-10 border-16 border-white p-1 shadow-xl shadow-gray-400  flex flex-col items-center">
                                <a href="/georgia">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/georgia.png" alt="" />
                                </a>

                                <span class="mt-4 font-serif font-bold text-2xl text-slate-600">Georgia</span>
                        </li>
                        <li class="h-24 w-24 mx-10 rounded-full mb-10 border-16 border-white p-1 shadow-xl shadow-gray-400  flex flex-col items-center">
                                <a href="">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/kazakhstan.png" alt="" />
                                </a>

                                <span class="mt-4 font-serif font-bold text-2xl text-slate-600">kazakhstan</span>
                        </li>
                        <li class="h-24 w-24 mx-10 rounded-full mb-10 border-16 border-white p-1 shadow-xl shadow-gray-400  flex flex-col items-center">
                                <a href="kazakhstan">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/russia.png" alt="" />
                                </a>
                                <span class="mt-4 font-serif font-bold text-2xl text-slate-600">Russia</span>
                        </li>
                        <li class="h-24 w-24 mx-10 rounded-full mb-10 border-16 border-white p-1 shadow-xl shadow-gray-400  flex flex-col items-center">
                                <a href="russia">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/belarus.png" alt="" />
                                </a>

                                <span class="mt-4 font-serif font-bold text-2xl text-slate-600">Belarus</span>
                        </li>

                        </li>
                        <li class="h-24 w-24 mx-10 rounded-full mb-10 border-16 border-white p-1 shadow-xl shadow-gray-400  flex flex-col items-center">
                                <a href="belarus">
                                        <img class=" hover:rotate-[360deg] duration-500"
                                                src="/public/media-source/flags-png/uzbekistan.png" alt="" />
                                </a>

                                <span class="mt-4 font-serif font-bold text-2xl text-slate-600">uzbekistan</span>
                        </li>

                        </li>
                </ul>
        </div>
</div>