
<header class="body-font hidden md:block lg:block container mx-auto navigation-container backdrop-blur-lg bg-white/30 w-full fixed z-50 block top-0" id=" navigation-container">
    <div class=" flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> -->
        <span class="ml-3 text-2xl font-bold font-serif ">MEDPLASIA MEDICOS PVT LTD</span>
      </a>
      <nav  class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="/home" class="mr-5 hover:text-gray-900">Home</a>
        <a href="/about-us" class="mr-5 hover:text-gray-900">About us</a>
        <!-- <div  class="relative">
          <a href="/countries" class="mr-5 hover:text-gray-900">countires</a>
          <div class="fixed bg-white grid grid-cols-3 p-4 rounded-md mt-2  ">
            <div>
              <a href="">Serbia</a>
              <div class="fixed bg-green-100 p-4 rounded-md "><li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li></div>
            </div>
            <div>
              <a href="">Georgia</a>
              <div><li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li></div>
            </div>
            <div>
              <a href="">Kazakhstan</a>
              <div><li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li></div>
            </div>

            <div>
              <a href="">Russia</a>
              <div><li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li></div>
            </div>
            <div>
              <a href="">Belarus</a>
              <div><li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li></div>
            </div>
            <div>
              <a href="">Uzbekistan</a>
              <div><li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li>
              <li>College 1</li></div>
            </div>
          </div>          
        </div> -->
        <a href="/gallery" class="mr-5 hover:text-gray-900">Gallery</a>
        <a href="/contact-us" class="mr-5 hover:text-gray-900">Contact Us</a>
      </nav>
      <button class="inline-flex items-center bg-slate-900 border-0 rounded-full py-1 px-3 focus:outline-none hover:bg-slate-600 rounded text-zinc-100 mt-4 md:mt-0">Newsletter</button>
    </div>
  </header>

  <!-- smart phone Nav bar-->
  <div class="fixed top-0 md:hidden lg:hidden w-full z-50 backdrop-blur-lg ">
    <div class="flex flex-row flex-wrap bg-slate-100/30 py-5 ">
      <a class="flex title-font font-medium items-center text-gray-800 md:mb-0"> 
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
         <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path> -->
       </svg> 
       <span class="ml-3 text-md font-bold font-serif">Medplasia Medicos Pvt. Ltd.</span>
     </a>
     <button onclick="mobileNavSlideOpen()" type="button " class="ml-auto mr-5"><i class="fa-solid fa-bars"></i></button> 
    </div>
    <div id="mobilenavslide" class=" relative bg-white/30 w-full flex flex-col justify-center items-center self-center border-t-2 overflow-hidden  " style="height: 0; transition: 0.5s;" >
    <button onclick="mobileNavSlideClose()" class="absolute text-slate-600/50 bg-white top-4 right-4 rounded-md " id="mobilenavslidecut"><i class="fa-solid fa-x p-2"></i></button>
    <a href="/home" class="py-1 text-wh border-b-2 text-slate-600">Home</a>
    <a href="/aboutus" class="py-1 border-b-2 text-slate-600">About us</a>
    <a href="/countries" class="py-1 border-b-2 text-slate-600">countires</a>
    <a href="/gallery" class="py-1 border-b-2 text-slate-600">Gallery</a>
    <a href="/contactus" class="mb-4 py-1 border-b-2 text-slate-600 ">Contact Us</a>
    </div>
  </div>