<div class="fixed z-50 h-fit w-fit p-4 rounded-l-lg top-[30%] right-0 backdrop-blur-full bg-slate-950/70">
    <ul>
      <li><a href=""><i class="fa-brands fa-instagram text-white py-2 text-4xl"></i></a></li>
      <li><a href=""><i class="fa-brands fa-twitter text-white py-2 text-4xl"></i></a></li>
      <li><a href=""><i class="fa-brands fa-whatsapp text-white py-2 text-4xl"></i></a></li>
      <li><a href=""><i class="fa-solid fa-phone text-white py-2 text-4xl"></i></a></li>
      <li><a href=""><i class="fa-brands fa-telegram text-white py-2 text-4xl"></i></a></li>
      <li><a href=""><i class="fa-brands fa-youtube text-white py-2 text-4xl"></i></a></li>
    </ul>
  </div>