<div class="fixed z-40 h-fit w-fit md:p-4 lg:p-4 px-4 py-2 rounded-l-lg top-[20%] right-0 backdrop-blur-full bg-slate-950/70">
    <ul>
      <li><a href="https://www.instagram.com/medplaisamedicospvtltd" target="_blank"><i class="fa-brands fa-instagram text-white py-2 lg:text-4xl md:text-4xl text-2xl"></i></a></li>
      <li><a href="https://wa.me/+917070790906?" target="_blank"><i class="fa-brands fa-whatsapp text-white py-2 lg:text-4xl md:text-4xl text-2xl"></i></a></li>
      <li><a href="tel:+917878850251'"><i class="fa-solid fa-phone text-white py-2 lg:text-4xl md:text-4xl text-2xl"></i></a></li>
      <li><a href="https://www.youtube.com/@MedplasiaMedicosPVT.LTD."><i class="fa-brands fa-youtube text-white py-2 lg:text-4xl md:text-4xl text-2xl"></i></a></li>
      <li><a href="" target="_blank"><i class="fa-brands fa-twitter text-white py-2 lg:text-4xl md:text-4xl text-2xl"></i></a></li>
      <li><a href=""><i class="fa-brands fa-telegram text-white py-2 lg:text-4xl md:text-4xl text-2xl"></i></a></li>
    </ul>
  </div>