<div class="flex justify-center  py-8  ">
    <h1 class="md:text-4xl lg:text-4xl text-2xl font-bold font-serif text-slate-600 ">Look for another country</h1>
</div>
<div class=" grid-cols-2 md:grid lg:grid gap-8 my-10 md:mx-10 lg:mx-10 mx-2 pb-10 ">
    <div class="shadow-lg p-4 mb-2 rounded-lg bg-white">
        <div class="flex flex-row border-b-2 pb-4">
            <div class="rounded-full bg-white shadow-lg p-2">
            <img class="h-20 w-20 " src="/public/media-source/flags-png/serbia.png" alt="">
            </div>
            <div class="pl-4 pt-4">
                <h1 class="text-3xl font-bold font-serif text-slate-600 pb-2">Serbia</h1>
                <p><i class="fa-solid fa-people-group"></i> <span>100 Indian students</span></p>
            </div>
        </div>
        <div class="flex flex-wrap py-5">
            <p>With a Literacy rate of 99.5%, the Federal Republic of Yugoslavia was reconstituted and re-named as State Union of Serbia and Montenegro in 2002. The country shares its border with Hungary and Romania in Europe. It has 17 Public and Private University whereas 6 University offers Medicine Program. Serbia is expected to join the EU by 2025.</p>
            <div class="pt-4">
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Read More</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">View Universities</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Chat with us</button>
            </div>
        </div>
    </div>
    <div class="shadow-lg p-4 mb-2 rounded-lg bg-white">
        <div class="flex flex-row border-b-2 pb-4">
            <div class="rounded-full bg-white shadow-lg p-2">
            <img class="h-20 w-20 " src="/public/media-source/flags-png/belarus.png" alt="">
            </div>
            <div class="pl-4 pt-4">
                <h1 class="text-3xl font-bold font-serif text-slate-600 pb-2">Belarus</h1>
                <p><i class="fa-solid fa-people-group"></i> <span>5,000 Indian Students</span></p>
            </div>
        </div>
        <div class="flex flex-wrap py-5">
            <p>There are only 4 medical Universities in Belarus and all 4 are ECMF approved. This is a very small country and agents promote it. Do not keep it as your first option to choose. Keep it as your last option!</p>
            <div class="pt-4">
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Read More</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">View Universities</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Chat with us</button>
            </div>
        </div>
    </div>
    <div class="shadow-lg p-4 mb-2 rounded-lg bg-white">
        <div class="flex flex-row border-b-2 pb-4">
            <div class="rounded-full bg-white shadow-lg p-2">
            <img class="h-20 w-20 " src="/public/media-source/flags-png/kazakhstan.png" alt="">
            </div>
            <div class="pl-4 pt-4">
                <h1 class="text-3xl font-bold font-serif text-slate-600 pb-2">Kazakhstan</h1>
                <p><i class="fa-solid fa-people-group"></i> <span>6,000 Indian Students </span></p>
            </div>
        </div>
        <div class="flex flex-wrap py-5">
            <p>Since 2017 onward, Kazakh has been increasingly popular among Indian students and the students are shifting their choice from Kyrgyzstan to Kazakh due to better quality of infra & education. It also offers 5 years of Medical education.</p>
            <div class="pt-4">
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Read More</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">View Universities</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Chat with us</button>
            </div>
        </div>
    </div>
    <div class="shadow-lg p-4 mb-2 rounded-lg bg-white">
        <div class="flex flex-row border-b-2 pb-4">
            <div class="rounded-full bg-white shadow-lg p-2">
            <img class="h-20 w-20 " src="/public/media-source/flags-png/russia.png" alt="">
            </div>
            <div class="pl-4 pt-4">
                <h1 class="text-3xl font-bold font-serif text-slate-600 pb-2">Russia</h1>
                <p><i class="fa-solid fa-people-group"></i> <span>16,000 Indian Students </span></p>
            </div>
        </div>
        <div class="flex flex-wrap py-5">
            <p>Indians have been going to Russia to study Medicine since last 25 years. However, there are few top universities worth going due to English taught programs as per Indian government website. Choose your university wisely and it could be a great option.</p>
            <div class="pt-4">
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Read More</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">View Universities</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Chat with us</button>
            </div>
        </div>
    </div>
 <div class="shadow-lg p-4 mb-2 rounded-lg bg-white">
        <div class="flex flex-row border-b-2 pb-4">
            <div class="rounded-full bg-white shadow-lg p-2">
            <img class="h-20 w-20 " src="/public/media-source/flags-png/georgia.png" alt="">
            </div>
            <div class="pl-4 pt-4">
                <h1 class="text-3xl font-bold font-serif text-slate-600 pb-2">Georgia</h1>
                <p><i class="fa-solid fa-people-group"></i> <span>10,000 Indian Students </span></p>
            </div>
        </div>
        <div class="flex flex-wrap py-5">
            <p>Most of the universities in Georgia are privately run small scale colleges. However, Indian agents promote to earn money out of the students career. Be very careful before you select this country. Further, take precaution to select university here!</p>
            <div class="pt-4">
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Read More</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">View Universities</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Chat with us</button>
            </div>
        </div>
    </div>
    <div class="shadow-md p-4 rounded-lg bg-white">
        <div class="flex flex-row border-b-2 pb-4">
            <div class="rounded-full bg-white shadow-lg p-2">
            <img class="h-20 w-20 " src="/public/media-source/flags-png/uzbekistan.png" alt="">
            </div>
            <div class="pl-4 pt-4">
                <h1 class="text-3xl font-bold font-serif text-slate-600 pb-2">uzbekistan</h1>
                <p><i class="fa-solid fa-people-group"></i> <span>500 Indian Students </span></p>
            </div>
        </div>
        <div class="flex flex-wrap py-5">
            <p>Uzbekistan, a former part of the USSR is located in central Asia. There are 8 Medical Colleges in Uzbekistan offering Medicine programs of 6 Years to the students, the rest two colleges are branches of these 8 Medical Colleges</p>
            <div class="pt-4">
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Read More</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">View Universities</button>
                <button class="bg-lime-600 text-white rounded-md py-1 px-2">Chat with us</button>
            </div>
        </div>
    </div>
</div>
