@import url("/public/styles/landingpage.css");
@import url("/public/styles/navigations/nav-bar.css");
@import url("/public/styles/contact-options/form.css");
@import url("/public/styles/country/country.css");
@import url("/public/styles/country/college.css");
@import url("/public/styles/description/about-us.css");
@import url("/public/styles/navigations/countries.css");
@import url("/public/styles/contact-options/contact.css");
@import url("/public/styles/testimonials/testimonials.css");

body{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
@media screen and (max-width: 640px)
{
    body, html{
        width: 100vw;
        overflow-x: hidden;
    }
}