<%- include('../../main-comp/header'); -%>
  <!-- Navigation bar -->
  <%- include('../../navigations/nav-bar'); -%>
<div class="country-container bg-slate-50">
    
<div class="h-44 country-name-container">
    <div class="bg-slate-800/30 backdrop-blur-lg h-full w-full flex justify-center items-center">
        <h1 class="text-white font-serif text-6xl ">STUDY MBBS IN SERBIA</h1>
    </div>
</div> 
<!-- country About container -->
<div class="country-about-container ml-10 mt-8 mr-10">
    <h1 class="font-serif text-4xl font-bold  mb-4" >About</h1>
<p class="text-justify text-lg">MBBS in Serbia is a good option for Indian students.Serbia is a rapidly developing country in south-eastern Europe that is emerging as a remarkable MBBS abroad destination for Indian students. Serbia has applied for membership in the EU. In all probability, the nation will be a member of the EU by 2025.
    In recent years, the Serbian government has put a lot of focus on developing its educational infrastructure. Since the conflict between Russia and Ukraine has made it impossible for international students to study MBBS in Ukraine, several European countries have become more important.
    Serbia is definitely one of them.
    MBBS in Serbia for international students
    As mentioned, Serbia has applied for consideration to be made a member of the EU. The country has been stepping up its academic infrastructure because foreign students contribute majorly to the Serbian economy.
    Coming to MBBS, in Serbia , like the rest of Europe, it is called an MD. So, an MD from a Serbian Medical University featuring in the list given in the table in the next section (WDOMS list) are eligible to appear in the NEXT to practice in India. 
    Alternatively, he/she may appear in USMLE and go for a Medical PG in the US.
    Medical Universities in Serbia
    The Table below contains the names of the biggest Universities in the nation of Serbia</p>
</div>

<!--College about container  -->
<div class="college-about-container ml-10  mr-10">
<ul class="list-image-[url('/public/media-source/svg-pointers/arrow.svg')] list-inside p-4">
    <li class="py-2">The Table below contains the names of the biggest Universities in the nation of Serbia . </li>
    <li class="py-2">You have to be cautious as to which university you choose because most of these universities do not have English as the medium of instruction. Many times, to earn fat commissions, foreign education agents promote the non-English Universities as English ones.</li>
    <li class="py-2">You have to be cautious as to which university you choose because most of these universities do not have English as the medium of instruction. Many times, to earn fat commissions, foreign education agents promote the non-English Universities as English ones.</li>
</ul>
<table class="" id="collage-table" style="width: 100%;">
    <tr>
      <th>University</th>
      <th>Medium of instructions (WDOMS)</th>
    </tr>
    <tr>
      <td>University of Kragujevac Faculty Of Medical Sciences</td>
      <td>English</td>
    </tr>
    <tr>
        <td>University of Nis Faculty of Medicine</td>
        <td>English</td>
    </tr>
    <tr>
        <td>University of Novi Sad Faculty of Medicine</td>
        <td>English</td>
    </tr>
    </table>
    </div>
    <!-- Country Accomandation containers -->
    <div class="country-accomandition-container ml-10 mt-10  mr-10">
        <h1 class="font-serif antialiased font-bold text-4xl mb-4">Cost of living</h1>
        <p class="text-justify text-lg">The cost of living in Serbia is relatively low, making it an affordable option for international students. In general, you can expect to spend around 500 EUR per month on living expenses as an international student at the University of Kragujevac. Your lifestyle and spending patterns may affect this amount. Here is a breakdown of some of the expenses you can expect to incur as an international student at the University of Kragujevac:
        </p>
        <table class="Accomandation-table mt-10 mb-10" id="Accomandation-table">
            <tr>
                <th>Utility</th>
               <th>Average cost per person</th>
            </tr>
            <tr>
                <td>Accommodation:</td>
                <td>€200-300 per month (shared room)</td>
            </tr>
            <tr>
                <td>Rent</td>
                <td>€200 EUR/month (studio apartment)
                </td>
            </tr>
            <tr>
                <td>Food:</td>
                <td>€150-200 per month</td>
            </tr>
            <tr>
                <td>Transportation:</td>
                <td>€50-100 per month</td>
            </tr>
            <tr>
                <td>Internet bill:</td>
                <td>Approx 10 EUR/month</td>
            </tr>
            <tr>
                <td>Entertainment:</td>
                <td>€50-100 per month</td>
            </tr>
        </table>
    </div>

    <!-- country card container -->
    <div class="college-card-container ml-10 ">
        <h1 class="font-serif antialiased font-bold text-4xl mb-10" >Colleges</h1>
        <div class="grid grid-cols-2">

        

        </div> 
    </div>
</div>
<%- include('../../navigations/bottom-bar'); -%>
<%- include('../../main-comp/footer'); -%>